.player1 h3 {
    color: #fff;
}

.sq_maker {
    position: relative;
    margin: 30px;
    background: url('../public/images/squard_bg.png') no-repeat;
}

.sq_maker h2 {
    font-size: 38px;
}

.CLW {
    margin-top: 20px;
    font-size: 40px;
}

.team_list {
    background: #bebebe;
    position: absolute;
    right: 150px;
    top: 0;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.team_list ul li a {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    padding: 3px;
}

.team_list ul li a:hover {
    background: #012799;
    color: #fff;
    border-radius: 10px;
}

.draggable-item {
    width: 150px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
}

.player_list {
    height: 850px;
}

.player_infor {
    background: skyblue;
    border-radius: 0 0 15px 15px;
    font-weight: bold;
}