.player1 h3 {
    color: #fff;
}

.sq_maker {
    position: relative;
    margin: 30px;
}

.sq_maker h2 {
    text-align: center;
    font-size: 44px;
}

.CLW {
    margin-top: 20px;
    font-size: 40px;
}

.tab_menu {
    text-align: center;
    margin: 30px 0;
}

.tab_menu button{
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    background: #012799;
    color: #fff;
    padding: 8px;
    font-size: 22px;
    font-weight: bold;
}

.draggable-item {
    width: 150px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
}

.player_list {
    height: 850px;
    background: url('../public/images/squard_bg.png') no-repeat;

}

.player_infor {
    background: skyblue;
    border-radius: 0 0 15px 15px;
    font-weight: bold;
}