.player1 h3 {
    color: #fff;
}

.sq_maker {
    position: relative;
    margin: 30px;
    background: url('../public/images/squard_bg.png') no-repeat;
}

.sq_maker h2 {
    font-size: 38px;
}

.draggable-item {
    width: 150px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
}

.player_list {
    height: 850px;
}

.player_infor {
    background: skyblue;
    border-radius: 0 0 15px 15px;
    font-weight: bold;
}